body {
  margin: 0;
  overflow: hidden;
}

button {
  outline: none;
  border: none;
}

button:focus {
  outline: none;
  box-shadow: none;
}

@keyframes floatUp {
  0% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -80px);
  }
}

button:hover {
  transform: scale(1.02);
}