body {
  margin: 0;
  overflow: hidden;
}

@keyframes float {
  from { opacity: 1; transform: translate(-50%, 0); }
  to { opacity: 0; transform: translate(-50%, -80px); }
}

img:active {
  transform: scale(0.95);
}